{% extends 'base.html' %}
{% load static %}
{% block title %}Профиль{% endblock %}


{% block head %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">


{% endblock %}


{% block content %}

<div class="profile-container">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-2">
        <h1 class="mb-3 title_username">Профиль пользователя: {{ user.username }}</h1>
        <p>Имя: {{ user.first_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Электронная почта: {{ user.email }}</p>
        <form
          class="logout-form"
          action="/auth/logout/?next=/auth/login/"
          method="post"
        >
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary">Выйти из аккаунта</button>
        </form>
      </div>
    </div>
    
    <div class="orders-container">
      <div class="row mb-3 mt-5">
        <div class="col-12">
            <h2 class="section-title">
                <span>Ваши заказы: </span>
            </h2>
        </div>
      </div>
      <div class="row p-3">
        {% for order in orders %}
        <div class="order-card col-md-3 mb-3 p-3 mx-2">
          <h6 class="order-card__id">Номер: {{ order.id }}</h6>
          <p class="order-card__date">Дата: {{ order.created_at }}</p>
          <p class="order-card__total-price">Итого: <span class="order-card__total-price-value"> {{ order.total_price }} </span> руб</p>
          <div class="order-card__status mb-3">Статус: {{ order.status_label }}</div>
          <div class="order-card__buttons justify-content-center">
            <a href="{% url 'get_order' order.id %}" class="btn btn-outline-secondary order-card__link"
              >Посмотреть</a
            >
            {% if order.is_cancelable %}
            <a
              href="{% url 'cancel_order' order.id %}"
              class="btn btn-outline-danger button_error order-card__link order-card_link-cancel px-3"
              >Отменить</a
            >
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>  

{% endblock %}
