<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <ul class="list">
        <li class="header_item"><a href="#!" class="header_link">Вино</a></li>
        <li class="header_item"><a href="#!" class="header_link">Шампанское и игристое вино</a></li>
        <li class="header_item"><a href="#!" class="header_link">Виски</a></li>
        <li class="header_item"><a href="#!" class="header_link">Коньяк</a></li>
        <li class="header_item"><a href="#!" class="header_link">Арманьяк</a></li>
        <li class="header_item"><a href="#!" class="header_link">Водка</a></li>
    </ul>
</body>
</html>