:root{
    --bg-color:#f5f5f5;
    --text-color:#6c757d;
    --accent-color: #ffd333; 
    --contrast-color: #3d464d;
    --gray-color: #ccc;
    --red-color: #ee6e73;
    --light-grey-color: #eee;
  }

.basket-container {
    padding: 0 10%;
}

.basket-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
}

.basket-item-container::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    height: auto;
  }

  .product-thumb {
    text-align: center;
  }
  
  .product-thumb img {
    max-height: 100px;
  }

.basket-continue-button{
    margin-bottom: 0.5em;
}

.basket-total {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.basket-total__price {
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
}

.btn-outline-warning {
    color: var(--text-color);
    border-color: var(--accent-color);
}

.btn-outline-warning:hover {
    color: var(--contrast-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);
  }
.btn-outline-secondary{
    --bs-btn-border-color: none;
    --bs-btn-font-size: 1.5rem; 
}

.btn-outline-secondary:hover {
    color: var(--accent-color);
    background-color: white;
    border-color: none;
  }

@media (max-width: 600px) {
    .basket-item-list {
        padding: 0 0;
    }
}
