<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!--Header start-->
    <header class="header">
        <div class="wrapper">
            <div class="header_wrapper">
                <div class="header_logo">
                    <a href="/" class="header_logo-link">
                        <img src="img/png/logo1.png" alt="Винный Бутик" class="header_logo-pic">
                    </a>
                </div>
                <nav class="header_nav">
                    <ul class="list">
                        <li class="header_item"><a href="catalog.html" class="header_link">Каталог</a></li>
                        <li class="header_item"><a href="delivery.html" class="header_link">Доставка</a></li>
                        <li class="header_item"><a href="collection.html" class="header_link">Коллекции</a></li>
                        <li class="header_item"><a href="entrance.html" class="header_link">Вход/Регистрация</a></li>
                    </ul>
                </nav>
            </div><!--header_wrapper-->
        </div><!--wrapper-->
    </header>
    <!--Header end-->

    <!--Main start-->
    <main class="main">
        <aside class="menu">
            <div class="navigation"><h2>Навигация:</h2></div>
            <div class="list_menu">
                <ul>
                    <li><a href="/index.html">Главная</a></li>
                    <li><a href="#!">Каталог</a></li>
                    <li><a href="#!">Коллекция</a></li>
                    <li><a href="#!">Дегустация</a></li>
                    <li><a href="#!">Доставка</a></li>
                    <li><a href="#!">Поставщики</a></li>
                    <li><a href="#!">Контакты</a></li>
                </ul>
            </div>
            <div class="footer_menu">
                <p>© abramovich 2024</p>
            </div>
        </aside>
        <!--Intro start-->
        <div class="intro">
            <div class="wrapper">
                <div class="intro_buttons">
                    <button class="intro_buttons-button1">
                        винная карта
                    </button>
                    <button class="intro_buttons-button2">
                        дегустация
                    </button>
                </div>
            </div><!--wrapper-->
        </div><!--intro-->
        <!--Intro end-->

        <!--Best start-->
        <section class="best">
            <div class="wrapper">
                <div class="best_taste">
                    <h2 class="best_taste-title">Лучший вкус, это вкус долголетнего вина</h2>
                    <hr class="best_taste-line">
                    <p class="best_taste-paragraf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit sed fermentum. Felis adipiscing morbi sodales ac. Mauris dictumst risus pulvinar blandit elit. Vestibulum quam ultrices nascetur et viverra suscipit. Proin vitae aliquet leo aliquam amet rutrum. Lectus auctor purus ultrices enim ultrices. Augue fringilla tellus tortor orci ultrices sed. Viverra cras sapien, pellentesque viverra malesuada. Tellus dolor, eget vitae dignissim molestie eget sit duis. Vitae dui vel pretium euismod diam. Pellentesque amet, lacus, amet, quis risus. Pellentesque scelerisque nunc, orci aliquam quis.</p>
                    <div class="best_taste-pic">
                        <img src="img/svg/wineglass.svg" alt="Бокал Вина" class="best_taste-wineglass">
                    </div>
                </div><!--best_taste-->
            </div><!--wrapper-->
        </section>
        <!--Best end-->

        <!--Novelties start-->
        <section class="novelties">
            <div class="wrapper">
                <div class="new_collection">
                    <div class="new_collection_one">
                        <p class="new_collection_one-paragraf">
                            Новинки коллекций
                        </p>
                        <h2 class="new_collection_one-title">Март 1980 Урожай Марселя
                        </h2>
                        <hr class="new_collection_one-line">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit sed fermentum. Felis adipiscing morbi sodales ac. </p>
                        <table class="new_collection_one-table">
                            <tr>
                                <td rowspan="2">1980</td>
                                <th class="table_padding-th">Colli Euganei Bianco Ca' Lustra 1980</th>
                            </tr>
                            <tr>
                                <td class="table_padding-td">Красочная бутылка вина из Марселя</td>
                            </tr>
                            <tr>
                                <td rowspan="2">1980</td>
                                <th class="table_padding-th">Colli Euganei Bianco Ca' Lustra 1980</th>
                            </tr>
                            <tr>
                                <td class="table_padding-td">Красочная бутылка вина из Марселя</td>
                            </tr>
                            <tr>
                                <td rowspan="2">1980</td>
                                <th class="table_padding-th">Colli Euganei Bianco Ca' Lustra 1980</th>
                            </tr>
                            <tr>
                                <td class="table_padding-td">Красочная бутылка вина из Марселя</td>
                            </tr>
                        </table>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit sed fermentum. Felis adipiscing morbi sodales ac. </p>
                        <button>
                            узнать подробнее
                        </button>
                    </div><!--new_collection_one-->
                    <div class="new_collection_two">
                        <div><img src="img/Rectangle1.jpg" alt="img1"></div>
                        <div class="wrapper_img">
                            <div><img src="img/Rectangle2.jpg" alt="img2"></div>
                            <div><img src="img/Rectangle3.jpg" alt="img3"></div>
                        </div>
                    </div><!--new_collection_two-->
                </div><!--new_collection-->
            </div><!--wrapper-->
        </section>
        <!--Novelties end-->

        <!--Registration start-->
        <div class="registration">
            <div class="wrapper">
                <div class="registration_conteiner">
                    <form action="/search"  method="get">
                        <fieldset>
                           
                            <div class="fieldset_conteiner">
                                <hr class="fieldset-line">
                                <p class="fieldset_paragraf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat enim tortor in hac id imperdiet adipiscing. Pellentesque nisi, mi sit non sit sed fermentum. </p>
                                <label for="name" class="sr-only">Имя</label>
                                <input type="text" id ="name" placeholder="Имя" name="user_name" class="fildset_input1" required>
                                <label for="phone" class="sr-only">Телефон</label>
                                <input type="tel" id="phone" placeholder="Телефон" name="user_phone" required>
                                <label for="place" class="sr-only"></label>
                                <input type="text" id="place" placeholder="Бутик на Невском 103" class="fildset_input3" name="user_place">
                                <input type="submit" value="записаться" name="registration_buttom" class="fildset_input4">
                            </div>
                            <div class="fieldset_img-left">
                                <img src="img/grape.jpg" alt="grape">
                            </div>
                            <div class="fieldset_img-right"><img src="img/keg.jpg" alt="keg">
                            </div>
                        </fieldset>
                    </form>
                </div><!--registration_conteiner-->
            </div><!--wrapper-->
        </div><!--registration-->
        <!--Registration end-->
    </main>
    <!--Main end-->

    <!--Footer start-->
    <footer class="footer">
        <div class="wrapper">
            <div class="footer_list-top">
                <ul class="list footer_list">
                    <li class="footer_item-top"><a href="/index.html" class="footer_link">Главная</a></li>
                    <li class="footer_item-top"><a href="#!" class="footer_link">Каталог</a></li>
                    <li class="footer_item-top"><a href="#!" class="footer_link">Поставщики</a></li>
                    <li class="footer_item-top"><a href="#!" class="footer_link">Коллекции</a></li>
                    <li class="footer_item-top"><a href="#!" class="footer_link">Дегустация</a></li>
                    <li class="footer_item-top"><a href="#!" class="footer_link">Коллекция 2024</a> </li>
                    <li class="footer_item-top"><a href="#!" class="footer_link">Контакты</a></li>
                </ul>
            </div><!--footer_list-top-->
            <div class="footer_list-bottom">
                <ul class="list">
                    <li class="footer_item-bottom"><a href="#!" class="footer_bottom-link">винный бутик abramovich</a></li>
                    <li class="footer_item-bottom"><a href="#!" class="footer_bottom-link">8 (812) 123-45-67</a></li>
                    <li class="footer_item-bottom">
                        <ul class="list list2">
                            <li class="footer_item-img"><a href="#!" class="footer_bottom-link"><img src="img/svg/youtube.svg" alt="youtube"></a></li>
                            <li class="footer_item-img"><a href="#!" class="footer_bottom-link"><img src="img/svg/vk.svg" alt="vk"></a></li>
                            <li class="footer_item-img"><a href="#!" class="footer_bottom-link"><img src="img/svg/fcb.svg" alt="facebook" class="fcb"></a></li>
                        </ul>
                    </li>
                    <li class="footer_item-bottom"><a href="#!" class="footer_bottom-link">© abramovich</a></li>
                </ul>
            </div><!--footer_list-bottom-->
        </div><!--wrapper-->
    </footer>
    <!--Footer end-->
</body>
</html>