{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/product.css' %}">

{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <img class="w-50" src="{% if product.image.url is not None %}{{ product.image.url }}{% endif %}" alt="">
        </div>
        <div class="col-md-8">
            <h1 class="text-center mb-5 product-name">{{ product.name }}</h1>
            
            <h2 class="section-title ">
                <span class="title-span">Описание</span>
            </h2>
            <div class="p-2">
                <p class=""><span class="">{{ product.description|linebreaksbr }}</span></p>
                <span class="id-product">id продукта: {{product.display_id}}</span>
            </div>
            <hr>
            <div class="product__price-container">
                {% if product.original_price is not None %}
                <p class="h-3">Цена без скидки: <span class="product__original-price">{{ product.original_price }}</span></p>
                {% endif %}
                <p class="h-2">Цена: <span class="product__price">{{ product.price }}</span> руб</p>
            </div>
            <form action="{% url 'add_to_basket' product.id %}" class="product__add-to-basket-form">
                <button 
                    type="submit"
                    class="product__add-to-basket-button btn btn-outline-secondary btn-lg"
                    {% if product.count < 1 %}disabled{% endif %}>
                    В Корзину
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}