{% extends 'base.html' %}
{% load static %}
{% block title %}Товары{% endblock %}
{% block head %}

<link rel="stylesheet" href="{% static 'css/products.css' %}">

{% endblock %}

{% block content %}

<ul class="product-list">
    <!-- li*5>div.product-card>h2.product-card__title+p.product-card__text
     -->
    {% for product in products %}
    <li>
        <div 
            class="
                product-card
                {% if product.count < 1 %}product-card_disabled{% endif %}
            "
        >

            <img 
                class="product-card__image" 
                src="{% if product.image.url is not None %}{{ product.image.url }}{% endif %}" 
                alt="{{ product.name }}"
            />
            <h2 class="product-card__title">{{ product.name }}</h2>
            <p class="product-card__text">{{ product.description }}</p>
            <div class="product-card__prices-container">
            {% if product.original_price is not None %}
            <p><span class="original_price">{{product.original_price}}</span></p>
            {% endif %}
            <p class="product-card__price">{{ product.price }}</p>
            </div>
            <div class="py-5 my-3"><a href="{% url 'product' product.id %}" class="product-card__link">Подробнее</a></div>
            
        </div>
    </li>
    {% endfor %}

</ul>

{% endblock %}